.content-block {
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 73px 70px 115px 70px;

	.left {
		color: #222222;

		#h1 {
			padding-top: 18px;
			font-size: 43px;
			font-weight: 700;
			line-height: 52px;
			letter-spacing: -2px;
			text-align: left;
		}

		#div {
			padding-top: 20px;
			font-size: 15px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0;
			text-align: left;
			width: 373px;
		}

		#button {
			width: 136px;
			height: 41px;
			border-radius: 4px;
			background: #70b2ff;
			border: none;
			margin-top: 25px;
			margin-left: 5px;
			//button text
			font-size: 17px;
			font-weight: 500;
			line-height: 21px;
			letter-spacing: 0;
			text-align: center;
			color: #ffffff;
		}
	}
	.selected {
		border: 1px solid #3e87f8 !important;
		position: relative;

		&:after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-image: url('border.png') 30 fill / 9px / 5px space !important;
		}
	}
	img.selected {
		outline: 1px solid #3e87f8;
		outline-offset: -2px;
		border-image: url('border.png') 30 fill / 9px / 3px space !important;
	}
}
